Alps/
Bcp/
Bcps/
bin/
Blis/
Bonmin/
build*
cppad/
Cbc/
Cgl/
Clp/
CoinBazaar/
CoinMP/
CoinUtils/
Couenne/
CppAD/
Data/
Dip/
DisCO/
DyLP/
FlopCpp/
include/
Ipopt/
lib/
MibS/
OS/
Osi/
share/
Smi/
SYMPHONY/
ThirdParty/
Vol/
BuildTools/
examples/
