* text=auto !eol
/Dependencies -text
/INSTALL -text
Installer/cainst.mpi -text
Installer/cainstw.mpi -text
Installer/confCoinAll.sh -text
Installer/files/LICENSE.txt -text
Installer/files/README -text
Installer/files/doc/A[!!-~]Gentle[!!-~]Introduction[!!-~]to[!!-~]Optimization[!!-~]Solver[!!-~]Interface.pdf -text
Installer/files/doc/Introduction[!!-~]to[!!-~]Ipopt.pdf -text
Installer/files/doc/SYMPHONY-Manual.pdf -text
Installer/files/doc/Short[!!-~]tutorial[!!-~]Ipopt.pdf -text svneol=unset#unset
Installer/files/doc/cbcCommandLine.pdf -text svneol=unset#unset
Installer/files/doc/cbcuserguide.html -text
Installer/files/doc/reference/cbcRef.pdf -text
Installer/files/doc/reference/cglRef.pdf -text
Installer/files/doc/reference/clpRef.pdf -text
Installer/files/doc/reference/coinUtilsRef.pdf -text
Installer/files/doc/reference/osiRef.pdf -text
Installer/files/icons/coin-or.gif -text
Installer/files/icons/coin-or.ico -text
Installer/files/icons/coin-or.png -text
Installer/files/icons/guide.ico -text
Installer/files/icons/guide.png -text
Installer/files/icons/terminal.ico -text
Installer/files/icons/terminal.png -text
Installer/files/scripts/addPath.sh -text
Installer/files/scripts/launch.sh -text
Installer/files/scripts/xdg-open -text
Installer/linux-x86_32-gcc4.4.5.mpi -text
Installer/linux-x86_64-gcc4.4.5.mpi -text
Installer/prepareDoxyConfPDF.sh -text
Installer/win32-cygwin-gcc4.3.4.mpi -text
Installer/win32-mingw-gcc4.2.1.mpi -text
MSVisualStudio/v10/CoinAll.sln -text
MSVisualStudio/v9/CoinAll.sln -text
MSVisualStudio/v9/CoinAll.suo -text
/Makefile.am -text
/Makefile.in -text
/README -text
/compile -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
/get.AllThirdParty -text
/install-sh -text
/ltmain.sh -text
/missing -text
